@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

* {
    font-size: 10px;
    font: inherit;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

 /* 숨김 컨텐츠  */
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
}
/* 소개 자료 배너*/
.intro {
    background-image: url('https://cdn.jandi.com/landing/assets/images/main/baa3d8b4.top_bar_bg.png');
    width: 100%;
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 0.9rem;
}

.intro-link {
    background: #fff;
    color: #46566D;
    font-weight: 700;
    border-radius: 4px;
    padding: 3px 13px;
    margin-left: 9px;
}

.icon-right::after {
    font-family: 'fontello';
    content: '\f105';
    margin-left: 8px;
}

.icon-cancel {
    float: right;
    width: 40px;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2em;
}

/* 헤더 */
.header, .main-container {
    background-color: #00C473;
    margin: 0 auto;
    width: 1089px;
    padding: 0 94px;
    position: relative;
}

.logo {
    position: absolute;
    top: 14px;
    left: 90px;
}

.logo img {
    width: 130px;
    height: auto;
}

.menu {
    margin-left: 14px;
    padding-top: 20px;
}

.menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2.5em;
    font-weight: 400;
    margin-left: 140px;
    width: 550px;
}

.menu-item li {
    display: inline-block;
    padding: 0 15px;
    color: #fff;
}

.login {
    background: #fff;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1em;
    color: #00C473;
    padding: 4px 30px;
    position: absolute;
    top: 25px;
    right: 105px;
}

.new::after {
    content: "N";
    font-size: 0.2em;
    font-weight: 900;
    background-color: red;
    border-radius: 10px;
    padding: 2px 4px;
    position: absolute;
    line-height: 10px;
    top: 4;
    height: 10px;
}

/* 프로모션1 */
.promotion1 {
    background: skyblue;
}

.divider {
    position: absolute;
    background: #fff;
    width: 8800px;
    height: 2000px;
    left: -4600px;
    top: 900px;
    transform: rotate(-28deg) translate(0%,0) scaleY(1);
    z-index: -1;
}